/* Button Style */
.button {
    -fx-background-color: #b95f21;
    -fx-border-color: #63320d;
    -fx-border-width: 4px;
    -fx-font-family: "Press Start 2P", cursive;
    -fx-font-size: 12px;
    -fx-text-fill: #fff7b2;
    -fx-padding: 20px 40px;
    -fx-letter-spacing: 1px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #63320d, 4, 0, 0, 4),
    dropshadow(gaussian, #2f1c0a, 8, 0, 0, 8),
    innershadow(gaussian, #ffbd4a, 4, 0, 0, 0);
}

/* Efecto hover */
.button:hover {
    -fx-translate-y: -6px;
    -fx-effect: dropshadow(gaussian, #63320d, 6, 0, 0, 6),
    dropshadow(gaussian, #2f1c0a, 12, 0, 0, 12),
    innershadow(gaussian, #ffbd4a, 4, 0, 0, 0);
}

/* Efecto presionado */
.button:pressed {
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(gaussian, #63320d, 2, 0, 0, 2),
    dropshadow(gaussian, #2f1c0a, 4, 0, 0, 4),
    innershadow(gaussian, #ffbd4a, 4, 0, 0, 0);
}

/*------------------------TEXT FIELD---------------------------*/

.input {

    -fx-pref-width: 200px;
    -fx-pref-height: 40px;

    -fx-background-radius: 5px;
    -fx-border-radius: 5px;

    -fx-border-width: 2px;
    -fx-border-color: #63320d;

    -fx-background-color: #ffbd4a;

    /* Para simular box-shadow: 4px 4px var(--main-color) en JavaFX usamos dropshadow */
    -fx-effect: dropshadow(gaussian, #63320d, 0, 0, 4, 4);

    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-text-fill: #63320d;

    -fx-padding: 5px 20px;

    -fx-focus-color: transparent; /* Para que no haya outline de foco */
    -fx-faint-focus-color: transparent;
}

/*-----------Tblas----------------*/